{% extends 'layout.html'%}
{% block content %}
<form method="POST">
    <h2>Update Data</h2>
    <table>
        <tr>
            <td><label>No Induk</label></td>
            <td><input type="text" name="no_induk" value="{{data.no_induk}}" disabled/></td>
        </tr>
        <tr>
            <td><label>Nama</label></td>
            <td><input type="text" name="nama" value="{{data.nama}}"/></td>
        </tr>
        <tr>
            <td><label>Alamat</label></td>
            <td><textarea name="alamat">{{data.alamat}}</textarea><br/><br/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Simpan"/></td>
        </tr>
    </table>
    
    
    
    
</form>
{% endblock %}