<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>

<!--Menu-->
<ul>
    <li><a href="/">Index</a></li>
    <li><a href="/Contact">Contact</a></li>
    <li><a href="/Form">Form</a></li>
</ul>
    {% block content %} {% endblock %}
</body>
</html>