extends layout

block content
    h1= article.title

    
    p=  span= "Author :" +article.author
    p= span= "Body :" + article.body

    hr
    a.btn.btn-default(href='/article/edit/'+article._id) Edit
    a.btn.btn-danger.delete-article(href='#', data-id=article._id) Delete

    a(href="/articles") Articles