doctype html
html
    head
        title Knowwledge Base
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container  
        .navbar-header
        a.navbar-brand(href='#') Navbar
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
            li.nav-item.active
                a.nav-link(href='#')
                | Home 
                span.sr-only (current)
            li.nav-item
                a.nav-link(href='#') Features
            li.nav-item
                a.nav-link(href='#') Pricing
            li.nav-item
                a.nav-link.disabled(href='#') Disabled

        .container   
        != messages('message', locals)             
        block content
        br
        hr
        footer
            p copyright &copy; 2018 MTH

    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/js/popper.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/main.js')