{% extends 'layout.html' %}

{% block title %} Contact Page {% endblock %}
{% block content %}
    <h2>I am contact page</h2>

    <!--Menu-->
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/Contact">Contact</a></li>
    </ul>


{% endblock %}