{% extends 'layout.html' %}

{% block title %} Form Page Title {% endblock %}
{% block content %}
<form method="POST">
    <label>Nama</label><input type="text" name="nama"/><br/><br/>
    <label>Alamat</label> <textarea name="alamat"></textarea> <br/><br/>
    <input type="submit" value="Simpan"/>
</form>


{% endblock %}