{% extends 'layout.html' %}

{% block title %} Index Page {% endblock %}

{% block content %}
<h2>I am Index Page</h2>

<!--Menu-->
<ul>
    <li><a href="/">Index</a></li>
    <li><a href="/Contact">Contact</a></li>
</ul>


{% endblock %}